*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
KPMG-Game/Library/FailedAssetImports.txt
KPMG-Game/Library/cache/
KPMG-Game/Library/previews/
KPMG-Game/Library/ScriptAssemblies
KPMG-Game/Library/metadata
KPMG-Game/obj
KPMG-Game/Temp
