*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
BSG-Game/KPMG-Game/Library/FailedAssetImports.txt
BSG-Game/KPMG-Game/Library/cache/
BSG-Game/KPMG-Game/Library/previews/
BSG-Game/KPMG-Game/Library/ScriptAssemblies
BSG-Game/KPMG-Game/Library/metadata
BSG-Game/KPMG-Game/obj
BSG-Game/KPMG-Game/Temp
