KPMG-Game/*.sln
KPMG-Game/*.user
KPMG-Game/*.csproj
KPMG-Game/*.pidb
KPMG-Game/*.unityproj
KPMG-Game/*.suo
.DS_Store
KPMG-Game/Library/FailedAssetImports.txt
KPMG-Game/Library/cache/
KPMG-Game/Library/previews/
KPMG-Game/Library/ScriptAssemblies
KPMG-Game/Library/metadata
KPMG-Game/obj
KPMG-Game/Temp
KPMG-Cities-Server/target/
